<config>
    <window_width>800</window_width>
    <window_height>600</window_height>
    <rows>4</rows>
    <cols>4</cols>
    <tile_size>100</tile_size>
    <grid_margin>5</grid_margin>
    <grid_thickness>5</grid_thickness>
    <font_size>48</font_size>
    <background_color>0,0,0</background_color>
    <tile_color>255,255,255</tile_color>
    <text_color>0,0,0</text_color>
</config>
